<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nju.software.storymapping.map.dao.ActivityCardMapper">

    <insert id="addActivity" parameterType="cn.edu.nju.software.storymapping.map.entity.ActivityCard">
        insert into activity_card
        (description,creator_id,create_time,color,story_map_id,`order`,`name`)
        values
        (#{description},#{creatorId},#{createTime},#{color},#{storyMapId},#{order},#{name})
    </insert>
    <update id="updateActivity" parameterType="cn.edu.nju.software.storymapping.map.entity.ActivityCard">
        update activity_card set
        description = #{description},
        creator_id = #{creatorId},
        create_time = #{createTime},
        color = #{color},
        story_map_id = #{storyMapId},
        `order` = #{order},
        `name` = #{name} where id = #{id}
    </update>
    <delete id="deleteActivity">
        delete from activity_card where id = #{id}
    </delete>
    <resultMap id="getActivityCardByStoryMapId" type="cn.edu.nju.software.storymapping.map.entity.ActivityCard">
        <id property="id" column="id"/>
        <collection property="taskCardList" ofType="cn.edu.nju.software.storymapping.map.entity.TaskCard" column="id"
                    select="cn.edu.nju.software.storymapping.map.dao.TaskCardMapper.getTaskCardByActivityId"></collection>
    </resultMap>
    <select id="getActivityCardByStoryMapId" resultMap="getActivityCardByStoryMapId">
      select * from activity_card where story_map_id=#{storyMapId}
    </select>


</mapper>