<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nju.software.storymapping.map.dao.RoleMapper">
	<update id="updateRole" parameterType="cn.edu.nju.software.storymapping.map.entity.Role">
		update role set
		name =
		#{name},
		image_id = #{imageId},
		description = #{description},
		story_map_id = #{storyMapId}
		where id = #{id}
	</update>
	<insert id="insertRole" parameterType="cn.edu.nju.software.storymapping.map.entity.Role">
		insert into role
		(name,image_id,description,story_map_id)
		values
		(#{name},#{imageId},#{description},#{storyMapId})
		<selectKey resultType="Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	</insert>
	<delete id="deleteRole" parameterType="Integer">
		delete from role where id
		= #{id}
	</delete>
	<select id="listByStoryMapId" parameterType="Integer"
		resultType="cn.edu.nju.software.storymapping.map.entity.Role">
		select * from role where story_map_id= #{id}
	</select>
	<insert id="addRole_Activity">
		insert into role_activity (role_id,activity_id)
		values (#{arg0},#{arg1})
	</insert>
	<delete id="deleteRole_Activity">
		delete from role_activity where id = #{id}
	</delete>
	
	<select id="getRoleByActivityId" resultType="cn.edu.nju.software.storymapping.map.entity.Role">
		select * from role
		where id in (select role_id from role_activity where
		activity_id=#{id})
	</select>
</mapper>