<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nju.software.storymapping.map.dao.TaskCardMapper">
    <update id="updateTaskCard" parameterType="cn.edu.nju.software.storymapping.map.entity.TaskCard">
        update task_card set
        description = #{description},
        creator_id = #{creatorId},
        create_time = #{createTime},
        color = #{color},
        activity_id = #{activityId}
        order = #{order},
        name = #{name} where id = #{id}
    </update>
    <insert id="addTaskCard" parameterType="cn.edu.nju.software.storymapping.map.entity.TaskCard">
        insert into task_card
        (description,creator_id,create_time,color,activity_id,order,name)
        values
        (#{description},#{creatorId},#{createTime},#{color},#{activityId},#{order},#{name})
    </insert>
    <delete id="deleteTaskCard">
        delete from task_card where id = #{id}
    </delete>

    <resultMap id="getTaskCardByActivityIdResultMap" type="cn.edu.nju.software.storymapping.map.entity.TaskCard">
        <id column="id" property="id"/>
        <collection property="subTaskCardList" ofType="cn.edu.nju.software.storymapping.map.entity.SubTaskCard"
                    column="id"
                    select="cn.edu.nju.software.storymapping.map.dao.SubTaskCardMapper.getSubTaskCardListByTaskId"></collection>
    </resultMap>

    <select id="getTaskCardByActivityId" resultMap="getTaskCardByActivityIdResultMap">
        select * from task_card where activity_id = #{activityId}
    </select>
</mapper>