<html xmlns:th="http://www.thymeleaf.org">
<script>
    // console.log = function() {}
    var headers = {};
    headers['X-CSRF-TOKEN'] = "[[${_csrf.token}]]";
</script>
<link th:href="@{/lib/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/bootstrap-table.css}" rel="stylesheet"/>
<link th:href="@{/lib/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/bootstrap-datetimepicker.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/bootstrapValidator.min.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/fileinput.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/fileinput-rtl.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/theme.css}" rel="stylesheet"/>
<link th:href="@{/lib/css/zTreeStyle/metro.css}" rel="stylesheet"/>


<script th:src="@{/lib/js/sockjs.min.js}"></script>
<script th:src="@{/lib/js/stomp.min.js}"></script>
<script th:src="@{/lib/js/jquery.js}"></script>
<script th:src="@{/lib/js/distpicker/distpicker.data.js}"></script>
<script th:src="@{/lib/js/distpicker/distpicker.js}"></script>
<script th:src="@{/lib/js/websocket/socketUtil.js}"></script>
<script th:src="@{/lib/js/bootstrap.min.js}"></script>
<script th:src="@{/lib/js/bootstrap/nav/nav.js}"></script>
<script th:src="@{/lib/js/bootstrap/tab/bootstrap-tab.js}"></script>
<script th:src="@{/lib/js/bootstrap/tree/tree.js}"></script>
<script th:src="@{/lib/js/bootstrap/alert/alert.js}"></script>
<script th:src="@{/lib/js/bootstrap/table/bootstrap-table.js}"></script>
<script th:src="@{/lib/js/bootstrap/date/bootstrap-datetimepicker.js}"></script>
<script th:src="@{/lib/js/bootstrap/validator/bootstrapValidator.min.js}"></script>
<script th:src="@{/lib/js/bootstrap/upload/fileinput.min.js}"></script>
<script th:src="@{/lib/js/bootstrap/upload/plugins/sortable.js}"></script>
<script th:src="@{/lib/js/bootstrap/upload/locales/zh.js}"></script>
<script th:src="@{/lib/js/bootstrap/upload/theme.js}"></script>
<script th:src="@{/lib/js/bootstrap/ztree/jquery.ztree.all-3.5.min.js}"></script>
<script th:src="@{/lib/js/bootstrap/checkbox/checkbox.js}"></script>
<script th:src="@{/lib/js/ajaxutil/ajaxUtil.js}"></script>
<script th:src="@{/lib/js/dict/dictUtil.js}"></script>

</html>