<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head>
    <meta charset="UTF-8">
    <title>Story Map</title>
    <script th:src="@{/lib/js/jqueryui/jquery-ui.js}"></script>

    <script th:src="@{/js/demo-story-map.js}"></script>
    <link th:href="@{/css/story-map-cp.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map-cp2.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map.css}" rel="stylesheet"/>
</head>
<body style="cursor: auto;">

<meta charset="UTF-8">
<title>Story Map</title>

<script>
    /*<![CDATA[*/
    var CONTEXT_PATH = "\/";
    /*]]>*/
</script>


<div id="operate">
    <br>
    <div class="btn-group-vertical" type="margin=5px" role="group" aria-label="...">
        <button type="button" class="btn btn-default" onclick="addRelease()">添加Release</button>
    </div>
    <br>
    <br>
    <br>
    <h6><span id="status" class="label label-info" style="display: none;">保存成功</span></h6>
    <br>
    <div id="messagebox">

    </div>

    <br>

</div>
<div id="right-content" class="board-zoom-21 wrapper-pinned">
    <div id="main" class="main-pinned">
        <div id="board" class="ui-draggable ui-draggable-handle" style="left: 125px; top: 39px;">
            <div id="board-head">
                <ul id="board-activities">
                    <li class="board-activity" cardid="0">
                    <li class="board-activity-card board-card-color-blue" cardtype="activity"><span
                            class="board-card-title-text">a1</span><span class="board-card-empty-title"
                                                                         style="display: none;">Empty card</span><textarea
                            type="text" class="board-card-title-editor" data-editmode="false"
                            style="display: none;"></textarea><span class="board-card-block-close"></span><span
                            class="board-card-close" style="display: none"><img
                            src="/img/story-map/icon_close.png"></span><span class="board-card-block-right"></span><span
                            class="board-card-next-right" style="display: none"><img
                            src="/img/story-map/icon_arrow_right.png"></span></li>
                    <div class="board-tasks-outer">
                        <ul class="board-tasks ui-sortable">
                            <li class="board-task board-task-card board-card-color-green" cardtype="task" cardid="0">
                                <span class="board-card-title-text">a1-t1</span><span class="board-card-empty-title"
                                                                                      style="display: none;">Empty card</span><textarea
                                    type="text" class="board-card-title-editor" data-editmode="false"
                                    style="display: none;"></textarea><span class="board-card-block-close"></span><span
                                    class="board-card-close" style="display: none"><img
                                    src="/img/story-map/icon_close.png"></span><span
                                    class="board-card-block-right"></span><span class="board-card-next-right"
                                                                                style="display: none"><img
                                    src="/img/story-map/icon_arrow_right.png"></span></li>
                            <li class="board-task board-task-card board-card-color-green" cardtype="task" cardid="1">
                                <span class="board-card-title-text">a1-t2</span><span class="board-card-empty-title"
                                                                                      style="display: none;">Empty card</span><textarea
                                    type="text" class="board-card-title-editor" data-editmode="false"
                                    style="display: none;"></textarea><span class="board-card-block-close"></span><span
                                    class="board-card-close" style="display: none"><img
                                    src="/img/story-map/icon_close.png"></span><span
                                    class="board-card-block-right"></span><span class="board-card-next-right"
                                                                                style="display: none"><img
                                    src="/img/story-map/icon_arrow_right.png"></span></li>
                        </ul>
                    </div>
                    </li>
                    <li class="board-activity" cardid="1">
                    <li class="board-activity-card board-card-color-blue" cardtype="activity"><span
                            class="board-card-title-text">a3</span><span class="board-card-empty-title"
                                                                         style="display: none;">Empty card</span><textarea
                            type="text" class="board-card-title-editor" data-editmode="false"
                            style="display: none;"></textarea><span class="board-card-block-close"></span><span
                            class="board-card-close" style="display: none"><img
                            src="/img/story-map/icon_close.png"></span><span class="board-card-block-right"></span><span
                            class="board-card-next-right" style="display: none;"><img
                            src="/img/story-map/icon_arrow_right.png"></span></li>
                    <div class="board-tasks-outer">
                        <ul class="board-tasks ui-sortable">
                            <li class="board-task board-task-card board-card-color-green" cardtype="task"><span
                                    class="board-card-title-text" style="display: none;"></span><span
                                    class="board-card-empty-title">Empty card</span><textarea type="text"
                                                                                              class="board-card-title-editor"
                                                                                              data-editmode="false"
                                                                                              style="display: none;"></textarea><span
                                    class="board-card-block-close"></span><span class="board-card-close"
                                                                                style="display: none;"><img
                                    src="/img/story-map/icon_close.png"></span><span
                                    class="board-card-block-right"></span><span class="board-card-next-right"
                                                                                style="display: none;"><img
                                    src="/img/story-map/icon_arrow_right.png"></span></li>
                        </ul>
                    </div>
                    </li>
                    <li class="board-activity" cardid="2">
                    <li class="board-activity-card board-card-color-blue" cardtype="activity"><span
                            class="board-card-title-text">a2</span><span class="board-card-empty-title"
                                                                         style="display: none;">Empty card</span><textarea
                            type="text" class="board-card-title-editor" data-editmode="false"
                            style="display: none;"></textarea><span class="board-card-block-close"></span><span
                            class="board-card-close" style="display: none"><img
                            src="/img/story-map/icon_close.png"></span><span class="board-card-block-right"></span><span
                            class="board-card-next-right" style="display: none"><img
                            src="/img/story-map/icon_arrow_right.png"></span></li>
                    <div class="board-tasks-outer">
                        <ul class="board-tasks ui-sortable">
                            <li class="board-task board-task-card board-card-color-green" cardtype="task" cardid="2">
                                <span class="board-card-title-text">a2-t1</span><span class="board-card-empty-title"
                                                                                      style="display: none;">Empty card</span><textarea
                                    type="text" class="board-card-title-editor" data-editmode="false"
                                    style="display: none;"></textarea><span class="board-card-block-close"></span><span
                                    class="board-card-close" style="display: none"><img
                                    src="/img/story-map/icon_close.png"></span><span
                                    class="board-card-block-right"></span><span class="board-card-next-right"
                                                                                style="display: none;"><img
                                    src="/img/story-map/icon_arrow_right.png"></span></li>
                        </ul>
                    </div>
                    </li></ul>
            </div>
            <div id="board-body">
                <span class="board-lines"></span>
                <div id="board-sortable-releases">
                    <div class="release-with-subtasks" cardid="0">
                        <div class="board-release">
                            <div class="board-release-relative">
                                <div class="dropdown-menu"><span class="board-release-prefix"></span><span
                                        class="board-release-name">Release1</span></div>
                            </div>
                        </div>
                        <div>
                            <ul class="board-subtasks-activities data-release-content">
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable">
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="0"><span class="board-card-title-text">a1-t1-s1-r1</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="1"><span class="board-card-title-text">a1-t1-s2-r1</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none;"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                            </ul>
                                        </li>
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable">
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="2"><span class="board-card-title-text">a1-t1-s1-r1</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none;"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable"></ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable">
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="3"><span class="board-card-title-text">a2-t1-s1-r1</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none;"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none;"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="release-with-subtasks" cardid="1">
                        <div class="board-release">
                            <div class="board-release-relative">
                                <div class="dropdown-menu"><span class="board-release-prefix"></span><span
                                        class="board-release-name">Release2</span></div>
                            </div>
                        </div>
                        <div>
                            <ul class="board-subtasks-activities data-release-content">
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable">
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="4"><span class="board-card-title-text">a1-t1-s1-r2</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="5"><span class="board-card-title-text">a1-t1-s2-r2</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                            </ul>
                                        </li>
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable"></ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable"></ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="board-activity">
                                    <ul class="board-tasks">
                                        <li class="board-task">
                                            <ul class="board-subtasks ui-sortable">
                                                <li class="board-subtask-card board-card-color-yellow"
                                                    cardtype="activity" cardid="7"><span class="board-card-title-text">a2-t1-s1-r2</span><span
                                                        class="board-card-empty-title"
                                                        style="display: none;">Empty card</span><textarea type="text"
                                                                                                          class="board-card-title-editor"
                                                                                                          data-editmode="false"
                                                                                                          style="display: none;"></textarea><span
                                                        class="board-card-block-close"></span><span
                                                        class="board-card-close" style="display: none"><img
                                                        src="/img/story-map/icon_close.png"></span><span
                                                        class="board-card-block-bottom"></span><span
                                                        class="board-card-next-bottom" style="display: none"><img
                                                        src="/img/story-map/icon_arrow_down.png"></span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>