<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head>
    <meta charset="UTF-8">
    <title>Story Map</title>
    <script th:src="@{/lib/js/jqueryui/jquery-ui.js}"></script>

    <script th:src="@{/js/demo-story-map.js}"></script>
    <link th:href="@{/css/story-map-cp.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map-cp2.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map.css}" rel="stylesheet"/>
</head>
<body>
<div id="operate">

</div>
<div id="wrapper" class="board-zoom-28 wrapper-pinned">
    <div id="main" class="main-pinned">
        <!--<div id="board-boundaries" class="board-boundaries-pinned">-->
        <div>
            <div id="board">
                <div id="board-head">
                    <ul id="board-activities">
                        <li class="board-activity">
                            <div class="personas-wrapper">

                            </div>
                            <div class="board-activity-card board-card-color-blue">
                                <span class="board-card-title-text" style="display: none;">activity1</span>
                                <span class="board-card-empty-title" >Empty card</span>
                                <textarea type="text" style="display: none;" class="board-card-title-editor"
                                          data-editmode="false"></textarea>
                            </div>
                            <div class="board-tasks-outer">
                                <ul class="board-tasks">
                                    <li class="board-task board-task-card board-card-color-yellow">
                                        <span class="board-card-title-text" >activity1-task1</span>
                                        <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                        <textarea type="text" style="display:none" class="board-card-title-editor"
                                                  data-editmode="false"></textarea>
                                        <span class="board-card-block-right"></span>
                                        <span class="board-card-next-right" style="display: none"><img th:src="@{/img/story-map/icon_arrow_right.png}"></span>
                                    </li>
                                    <li class="board-task board-task-card board-card-color-yellow">
                                        <span class="board-card-title-text">activity1-task2</span>
                                        <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                        <textarea type="text" style="display:none" class="board-card-title-editor"
                                                  data-editmode="false"></textarea>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="board-activity">
                            <div class="personas-wrapper">

                            </div>
                            <div class="board-activity-card board-card-color-blue">
                                <span class="board-card-title-text">activity2</span>
                                <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                <textarea type="text" style="display:none" class="board-card-title-editor"
                                          data-editmode="false"></textarea>
                            </div>
                            <div class="board-tasks-outer">
                                <ul class="board-tasks">
                                    <li class="board-task board-task-card board-card-color-yellow">
                                        <span class="board-card-title-text">activity2-task1</span>
                                        <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                        <textarea type="text" style="display:none" class="board-card-title-editor"
                                                  data-editmode="false"></textarea>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="board-body-container">
                    <div id="board-body">
                        <span class="board-lines"></span>
                        <div id="board-sortable-releases">
                            <div class="release-with-subtasks">
                                <div class="board-release">
                                    <div class="board-release-relative">
                                        <div class="dropdown-menu">
                                                <span class="board-release-prefix"></span>
                                                <span class="board-release-name">
                                                    Release 1
                                                </span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <ul class="board-subtasks-activities data-release-content">
                                        <li class="board-activity">
                                            <ul class="board-tasks">
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-card board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task1-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                            <span class="board-card-block-bottom"></span>
                                                            <span class="board-card-next-bottom" style="display: none"><img th:src="@{/img/story-map/icon_arrow_down.png}"></span>
                                                            <span class="board-card-block-close"></span>
                                                            <span class="board-card-close" style="display: none"><img th:src="@{/img/story-map/icon_close.png}" /></span>
                                                        </li>
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task1-subtask2</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task2-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="board-activity">
                                            <ul class="board-tasks">
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity2-task1-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="release-with-subtasks">
                                <div class="board-release"></div>
                                <div>
                                    <ul class="board-subtasks-activities data-release-content">
                                        <li class="board-activity">
                                            <ul class="board-tasks">
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task1-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task1-subtask2</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity1-task2-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="board-activity">
                                            <ul class="board-tasks">
                                                <li class="board-task">
                                                    <ul class="board-subtasks">
                                                        <li class="board-subtask-card board-card-color-blue">
                                                            <span class="board-card-title-text">activity2-task1-subtask1</span>
                                                            <span class="board-card-empty-title" style="display: none;">Empty card</span>
                                                            <textarea type="text" style="display:none"
                                                                      class="board-card-title-editor"
                                                                      data-editmode="false"></textarea>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>