<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head>
    <meta charset="UTF-8">
    <title>Story Map</title>
    <script th:src="@{/lib/js/jqueryui/jquery-ui.js}"></script>

    <script th:src="@{/js/story-map.js}"></script>
    <link th:href="@{/css/story-map-cp.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map-cp2.css}" rel="stylesheet"/>
    <link th:href="@{/css/story-map.css}" rel="stylesheet"/>
</head>
<body>
<div id="wrapper" class="board-zoom-28 wrapper-pinned">
    <div id="main" class="main-pinned">
        <!--<div id="board-boundaries" class="board-boundaries-pinned">-->
        <div>
            <div id="board">
                <div id="board-head">
                    <ul id="board-activities">
                    </ul>
                </div>
                <div id="board-body-container">
                    <div id="board-body">
                        <span class="board-lines"></span>
                        <div id="board-sortable-releases">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>