.header-name{font-size:150%;margin-right: 0px;}
.sub-name{font-size:150%;margin-left: 0px;}
.account{font-size:150%;}
.list-group-item{margin-left:20px;margin-bottom:20px;width:200px;height: 120px;}
.mess{position:absolute;width:100%;height:100%;z-indent:2;left:60px;top:40px; font-weight:bold;font-size:150%;}
.gui{position:relative;width:100px;height:100px;}