<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head >
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel="stylesheet" th:href="@{/css/applogin.css}">
</head>
<body>
<div class="login-block">

    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <p th:if="${loginError}" class="error">用户名或密码错误</p>
                <a class="btn-tourist" onclick="location='/touristsmode/story-map/story-map.html?tourists=true'">Tourist</a>
                <h2 class="text-center">Login Now</h2>
                <form class="login-form" id="form-test" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username" class="text-uppercase">Username</label>
                        <input type="text" id="username" name="username" value="admin" autofocus="autofocus" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="password" class="text-uppercase">Password</label>
                        <input type="password" id="password" name="password" value="123456" class="form-control" placeholder="">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember Me</small>
                        </label>
                        <input type="submit" id="btn-test" class="btn btn-login float-right" value="Login" />
                        <a class="btn btn-register" onclick="location='/register'">Register</a>
                    </div>
                </form>
            </div>
            <div class="col-md-8 banner-sec">
                <div class="carousel-item active">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="banner-text">
                            <h2>Introduction</h2>
                            <p>This is .aaa..from 413.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(function () {
        $("#form-test").bootstrapValidator({
            live: 'enabled',//验证时机，enabled是内容有变化就验证（默认），disabled和submitted是提交再验证
            excluded: [':disabled', ':hidden', ':not(:visible)'],//排除无需验证的控件，比如被禁用的或者被隐藏的
            submitButtons: '#btn-test',//指定提交按钮，如果验证失败则变成disabled，但我没试成功，反而加了这句话非submit按钮也会提交到action指定页面
            message: '通用的验证失败消息',//好像从来没出现过
            feedbackIcons: {//根据验证结果显示的各种图标
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                password: {
                    validators: {
                        notEmpty: {//检测非空
                            message: '请输入密码'
                        },
                    }
                },
                username: {
                    validators: {
                        notEmpty: {//检测非空,radio也可用
                            message: '请输入用户名'
                        },
                        stringLength: {//检测长度
                            min: 3,
                            max: 10,
                            message: '长度必须在3-10之间'
                        },
                        regexp: {//正则验证
                            regexp: /^[a-zA-Z0-9_\.]+$/,
                            message: '所输入的字符不符要求'
                        },
                    }
                }
            }
        });
    });
</script>
</html>