<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head>
    <meta charset="UTF-8">
    <title>Story maps</title>
    <script th:src="@{/js/storymap.js}"></script>
    <link rel="stylesheet" th:href="@{/css/storymap.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text navbar-left header-name" th:text="${name}"></p></p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a  href="/template/workspaces.html">workspaces</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="list-group">

</div>
<div id="userInfo"></div>
</body>
</html>