<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include/includebase">
</head>
<head>
    <meta charset="UTF-8">
    <title>Workspaces</title>
    <script th:src="@{/js/workspaces.js}"></script>
    <link rel="stylesheet" th:href="@{/css/workspaces.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand" th:text="${username}">用户名<p class="navbar-text">'s workspaces</p></a>-->
            <p class="navbar-text navbar-left header-name" th:text="${username}">
            <p class="navbar-text sub-name">'s workspaces</p></p>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle account" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="account-li"  id="pro">Profile</li>
                        <li role="separator" class="divider"></li>
                        <li onclick="$('#logout_btn').click()" class="account-li">
                                Logout
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="list-group">

    <span th:each="m : ${workspaceList}" class="list-group-item active" style="display: inline-block;">
        <h4 th:text="${m.name}" class="list-group-item-heading"/>
        <p th:text="${m.description}" class="list-group-item-text"/>
        <a class="storymap-skip" th:href='@{/template/storymap.html(workspaceId=${m.id})}'></a>
        <i th:id="${m.id}" class="fa fa-times storymap-close" aria-hidden="true" onclick="delWorkspace(this)"></i>
    </span>
    <span id="arrow" class="arrow"></span>
    <span id="last-workspcace" class="list-group-item" style="color: #b0c4de;display: block; text-align: center; line-height: 138px; cursor: pointer;" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
    </span>
</div>

<form style="display: none" action="/logout" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input id="logout_btn" type="submit" value="Logout"/>
</form>
<div id="userInfo"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div id="new-workspace-modal" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">New Workspace</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="workspace-name" class="control-label">Title:</label>
                        <input type="text" class="form-control" id="workspace-name">
                    </div>
                    <div class="form-group">
                        <label for="workspace-desc" class="control-label">Description:</label>
                        <input class="form-control" id="workspace-desc"/>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button  type="button" class="btn btn-primary">
                    <span id="new-workspace-btn-text"  onclick="newWorkspace()" >Add WorkSpace</span>
                    <i id="new-workspace-loading" style="display: none;" class="fa fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>